<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">



    <context:component-scan base-package="com.ljs.service"/>

    <!--声明一个切面的bean; 单单@Aspect不能被spring识别-->
    <bean id="myAspect" class="com.ljs.aspect.MyAspect"/>

    <bean id="afterReturnAspect" class="com.ljs.aspect.AfterReturnAspect"/>

    <bean id="aroundAspect" class="com.ljs.aspect.AroundAspect"/>

    <!--声明自动代理生成器，用来生成代理-->
    <aop:aspectj-autoproxy/>


</beans>