<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean id="school01" class="com.ljs.entity.School">
        <property name="name" value="北京理工大学"/>
        <property name="address" value="北京"/>
    </bean>


    <bean id="school" class="com.ljs.entity.School">
        <property name="name" value="华南理工大学"/>
        <property name="address" value="广东广州"/>
    </bean>


</beans>